<template>
	<div>
		<h2 v-html="$t('account')" />
		<p>basic overview here of what's happening</p>
	</div>
</template>

<script>
export default {
	name: "account-index",
	middleware: "auth",
	nuxtI18n: {
		paths: {
			en: "/account",
			de: "/account",
			fr: "/account",
			it: "/account",
		},
	},
	head() {
		return {
			title: `${this.$t('account')} – VoteLog`,
		};
	},
}
</script>

<style scoped></style>
