<template>
	<div>
		<h2 v-html='$t("settings")'/>
		<pre v-html="$store.state.auth.user" />
	</div>
</template>

<script>
export default {
	name: 'account-settings',
	middleware: 'auth',
	nuxtI18n: {
		paths: {
			en: '/account/settings',
			de: '/account/einstellungen',
			fr: '/account/parametres',
			it: '/account/impostazione',
		}
	},
	head() {
		return {
			title: `${this.$t('settings')} – ${this.$t('account')} – VoteLog`,
		};
	},
}
</script>

<style scoped>

</style>
