<template>
	<div>
		<div class="grid grid-cols-4 gap-8 border-b border-gray-default pb-4 items-center">
			<img
				class="max-h-48 rounded-none justify-self-center"
				:src="`https://www.parlament.ch/sitecollectionimages/profil/portrait-260/${data.image}.jpg`"
			/>
			<div class="col-span-3">
				<h1 v-html="`${data.firstName} ${data.lastName}`" class="" />
				<Tag :text="data.canton" />
				<Tag :text="$store.getters.getPartyAbbreviation(data.party)" />
				<Tag :text="$store.getters.getFactionName(data.faction)" />
				<p class="mt-4">
					<a :href="cvProfileUrl" class="arrow-link" target="_blank" v-html="`Curia Vista Profile`" />
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import Tag from "../Tag.vue";
export default {
	components: { Tag },
	name: "parliamentarian-profile-sidebar",
	props: {
		data: {
			type: Object,
		},
	},
	computed: {
		cvProfileUrl() {
			return `https://www.parlament.ch/${this.$i18n.locale}/biografie/x/${this.data.id}`;
		},
	},
	methods: {
		formatDate(d) {
			let date = new Date(d);
			return date.toLocaleDateString("de-CH");
		},
	},
};
</script>

<style lang="sass" scoped>
img
	filter: grayscale(.3) brightness(1.1)
	@apply rounded mb-2
</style>
