<template>
<div>
	<p v-html="devWarning"/>
</div>
</template>

<script>
export default {
	name: "DevWarning",
	data() {
		return {
			devWarning: `Warning! This part of the application is currently in development and the data shown is not reliable yet.`
		}
	}
}
</script>

<style lang="scss" scoped>
p {
	background-color: lightcoral;
	padding: 1rem 2rem;
	margin: 1rem 0;
	color: black;
}
</style>
