<template>
	<div class="grid gap-2 lg:gap-4 grid-cols-3 lg:grid-cols-6">
		<div v-show="showEntry(parliamentarian)">
			<slot />
		</div>
		<!-- <nuxt-link
			v-for="parliamentarian in data"
			:key="parliamentarian['id']"
			:to="
				localePath({
					name: 'parliamentarian-slug',
					params: { slug: parliamentarian.id },
				})
			"
			
		> -->
		<!-- <ListItem> -->
		<!-- <template v-slot:image>
					<img
						:src="`https://www.parlament.ch/sitecollectionimages/profil/portrait-260/${parliamentarian.image}.jpg`"
						alt=""
					/>
				</template>
				<template v-slot:content>
					<h3
						v-html="
							`${parliamentarian.firstName} ${parliamentarian.lastName}`
						"
					/>
				</template> -->
		<!-- <template v-slot:tags> -->
		<!-- <Tag text="test" /> -->
		<!-- <Tag :text="parliamentarian.canton" />
						<Tag :text="$store.getters.getPartyAbbreviation(parliamentarian.party)" /> -->
		<!-- </template> -->
		<!-- </ListItem> -->
		<!-- </nuxt-link> -->
	</div>
</template>

<script>
export default {
	methods: {
		showEntry(parliamentarian) {
			return this.$store.getters["filters/showEntry"](
				"parliamentarians",
				parliamentarian
			);
		},
	},
};
</script>

<style></style>
