<template>
<div>
	<h1>list of all orgs</h1>
	<ul>
		<li v-for='i in 5'>edit org</li>
	</ul>
</div>
</template>

<script>
export default {
	name: 'index',
	middleware: 'auth-admin'
}
</script>

<style scoped>

</style>
