<template>
	<ol class="preference-list">
		<li v-for="business in preferencesDetails" :key="business.id" class="preferences-business p-4 lg:p-12 mb-4">
			<p
				class="px-4 py-1 bg-gray-dark dark:bg-gray-light text-base font-bold text-white dark:text-black inline-block rounded"
				v-html="formatDate(business.submissionDate)"
			/>
			<span class="flex flex-row">
				<h3 v-html="business.title" />
				<i class="ml-4" v-html="`ID: ${business.id}`" />
			</span>
			<hr class="border-gray-light dark:border-gray-default" />
			<p
				v-html="business.description"
				class="mx-4 my-8 pl-8 border-l-4 border-gray-light dark:border-gray-default"
			/>
			<h4 class="font-bold" v-html="`Bills`" />
			<ol>
				<li v-for="(bill, billIndex) in business.bills" :key="bill.id || `${business.id}-${billIndex}` " class="preferences-bill">
					<div v-if="bill.id" >
						<i v-html="bill.billType" />
						<h4 class="font-normal" v-html="bill.title" />
						<!-- <i v-html="bill.id" /> -->
						<hr class="border-gray-light dark:border-gray-default my-4" />
						<h5 class="font-bold" v-html="`Votes`" />
					</div>
					<ol>
						<Vote
							class="odd:bg-gray-default"
							v-for="vote in bill.votes"
							:key="vote.id"
							:vote="vote"
							:billId="bill.id || ``"
							:businessId="business.id"
							:organisationId="organisationId"
							:showPreferenceControls="showPreferenceControls"
						/>
						<!-- <h6 v-html="vote.subject" />
						<i v-html="vote.id" />
						<p>
							Preference: <b>{{ vote.preference }}</b
							>, meaning, "{{ vote.meaning[vote.preference] }}"
						</p> -->
					</ol>
				</li>
			</ol>
		</li>
	</ol>
</template>

<script>
import Vote from "~/components/preferences/Vote.vue";
export default {
	name: "PreferencesList",
	components: {
		Vote,
	},
	props: {
		organisationId: {
			type: String,
			required: true,
		},
		preferencesDetails: {
			type: Array,
			required: true,
		},
		showPreferenceControls: {
			type: Boolean,
			default: false,
		},
	},
	methods: {
		formatDate(d) {
			let date = new Date(d);
			return date.toLocaleDateString("de-CH");
		},
	},
};
</script>

<style scoped lang="sass">
ol.preference-list > li
	&:nth-child(2n)
		@apply bg-gray-lightest dark:bg-gray-dark
</style>
