<template>
	<div class="text-right">
		<p
			class="font-bold text-base text-white px-2 rounded inline-block mb-2"
			:class="currentRating == 'yes' ? 'bg-primary' : 'bg-secondary'"
		>
			{{ $t(this.currentRating) }}
		</p>
		<p class="text-sm">{{ vote.meaning[this.currentRating] }}</p>
	</div>
</template>

<script>
export default {
	name: "PreferenceResult",
	props: {
		vote: {
			type: Object,
			required: true,
		},
		currentRating: {
			type: String,
			default: "",
		},
	},
	computed: {
		ratingString() {
			return this.currentRating ? `${this.$t(this.currentRating)}: ${this.vote.meaning[this.currentRating]}` : ``;
		},
	},
};
</script>

<style scoped></style>
