<template>
	<div class="cv-search">
		<div class="grid grid-cols-3">
			<form
				v-for="(searchField, searchFieldIndex) in searchFields"
				:key="`${searchField.name}-${searchFieldIndex}`"
				@submit.prevent="search"
			>
				<label :for="searchField.name" v-html="searchField.label" />
				<input
					:type="searchField.type"
					:name="searchField.name"
					:id="searchField.name"
					v-model="searchModels[searchFieldIndex]"
				/>
			</form>
		</div>
		<br />
		<div class="inline-block">
			<button class="dark" type="button" @click="search" v-html="`search`" />
			<button type="button" @click="clear" v-show="$store.state.search.lastSearch !== null" v-html="`clear`" />
		</div>
		<div
			v-if="$store.state.search.message"
			v-html="$t($store.state.search.message)"
			class="search-message"
		/>
	</div>
</template>

<script>
export default {
	name: "Search",
	computed: {
		searchModels() {
			return this.$store.state.search.lastSearch !== null
				? [...this.$store.state.search.lastSearch]
				: Array(this.$store.state.search.fields.length).fill("");
		},
		searchFields() {
			let searchFields = this.$store.state.search.fields;
			searchFields.forEach((field, index, arr) => {
				if (!field.type) arr[index].type = "text";
				arr[index].model = "";
			});
			return searchFields;
		},
	},
	mounted() {
		if (this.$store.state.search.lastSearch === null && this.$store.state.search.results !== null)
			this.$store.commit("search/resetResults");
	},
	async fetch() {
		if (Object.entries(this.$route.query).length > 0) {
			const fields = Array(this.$store.state.search.fields.length).fill("");
			this.$store.state.search.fields.forEach((field, index) => {
				for (const [key, value] of Object.entries(this.$route.query)) {
					if (field.label.toLowerCase() === key.toLowerCase()) {
						fields[index] = value;
					}
				}
			});
			await this.$store.dispatch("search/search", fields);
		}
	},
	watch: {
		'$route.query': '$fetch'
	},
	methods: {
		search(e) {
			e.preventDefault();
			if (this.searchModels.find(e => e.length >= 4)) {
				let queryString = "";
				this.searchModels.forEach((model, index) => {
					if (model.length >= 4)
						queryString += `${this.$store.state.search.fields[index].label.toLowerCase()}=${encodeURIComponent(model)}&`
				})
				this.$router.push(`${this.$nuxt.$route.path}?${queryString.slice(0, -1)}`)
			} else {
				this.$store.commit("search/setMessage", `moreCharactersNeeded`);
			}
		},
		clear() {
			this.$store.commit("search/resetLastSearch");
		},
	},
};
</script>

<style lang="scss" scoped>
.search-message {
	margin-top: 1rem;
	color: red;
}
</style>
