<template>
	<div>
		<h1>Diese Seite existiert leider nicht...</h1>
		<img
			:src="noImg"
			alt="ringo"
		/>
	</div>
</template>

<script>
export default {
	data() {
		return {
			noText: `404: This isn't the site you're looking for…`,
			noImg: `https://media.giphy.com/media/26u7JfneuEJQQ2VClY/giphy.gif`
		}
	}
}
</script>

<style lang="sass" scoped></style>
