<template>
	<div class="">
		<!-- <SectionAccountInfoBanner/> -->
		<!-- <AccountSidebar
			:user="user"
			class="lg:sticky top-32"
		/> -->
		<div class="col-span-2">
			<AccountMenu />
			<hr />
			<NuxtChild />
		</div>
	</div>
</template>

<script>
import AccountMenu from "~/components/account/AccountMenu.vue";
import AccountSidebar from "~/components/account/AccountSidebar.vue";

export default {
	name: "account-index",
	middleware: "auth",
	components: {
		AccountSidebar,
		AccountMenu,
	},
	computed: {
		user() {
			return this.$store.state.auth.user;
		},
	},
	nuxtI18n: {
		paths: {
			en: "/account",
			de: "/account",
			fr: "/account",
			it: "/account",
		},
	},
	head() {
		return {
			title: this.$t(`account`),
		};
	},
};
</script>

<style scoped></style>
