<template>
	<div class="py-6">
		<div class="business">
			<h1 v-html="business.title"/>
			<span v-html="business.submittedBy" />
			<span v-html="business.submissionDate" />
		</div>
		<Bill
			v-for="bill in bills"
			:key="bill.id"
			:bill="bill"
			:businessId="business.id"
			:organisationId="organisationId"
		/>
		<div
			v-if="bills.length === 0"
		>
			<h4 v-html="`no bills in this business`" />
		</div>
		<nuxt-link :to="localePath(pathUp)">
			<button
				class="border border-1"
				v-html="`Back to Searchresults`"
			/>
		</nuxt-link>
	</div>
</template>

<script>
import Bill from "~/components/preferences/Bill"
export default {
	name: "account-rate-slug",
	scrollToTop: true,
	middleware: "auth",
	components: {
		Bill,
	},
	async asyncData({ $axios, app, params, query, store, redirect, i18n }) {
		const organisationId = store.state.auth.user.orgId;
		await store.dispatch("preferences/fetchPreferences", { organisationId });

		const type = params.slug;
		const id = query.id;

		if (type && id) {
			let business, bills;
			switch (params.slug) {
				case `business`:
					business = await $axios.$get(`/api/v1/business/${id}?lang=${i18n.locale}`);
					if (business) {
						business.id = parseInt(id);
						let billsRes = await $axios.$get(`/api/v1/business/${id}/bills?lang=${i18n.locale}&lp=${store.state.lp}`)
						if (billsRes) {
							bills = billsRes.map(e => {
								const [id, data] = e
								return {
									id,
									...data,
								}
							});
						}
					}
					break;
				case `bill`:
					const billRes = await $axios.$get(`/api/v1/bill/${id}?lang=${i18n.locale}`);
					if (billRes) {
						business = await $axios.$get(`/api/v1/business/${billRes.businessId}?lang=${i18n.locale}`);
						if (business) {
							business.id = parseInt(billRes.businessId);
							bills = [{id, ...billRes}];
						}
					}
					break;
				case `vote`:
					const voteRes = await $axios.$get(`/api/v1/vote/${id}?lang=${i18n.locale}`);
					if (voteRes) {
						const billRes = await $axios.$get(`/api/v1/bill/${voteRes.bill}?lang=${i18n.locale}`);
						business = await $axios.$get(`/api/v1/business/${voteRes.business}?lang=${i18n.locale}`);
						if (billRes && business) {
							business.id = voteRes.business;
							bills = [{id: voteRes.bill, ...billRes}];
						}
					}
					break;
				default:
					redirect(this.localePath(`account-rate`));
			}
			return {
				organisationId,
				business,
				bills,
				type,
				id,
			}
		} else {
			redirect(this.localePath(`account-rate`));
		}
	},
	computed: {
		pathUp() {
			// return this.$route.name.replace("-slug", "");
			return this.$route.name.slice(0, -(this.$route.name.length - this.$route.name.indexOf("-slug")));
		},
	},
	nuxtI18n: {
		paths: {
			en: "/account/rate/:slug",
			de: "/account/bewerten/:slug",
			fr: "/account/estimer/:slug",
			it: "/account/rate/:slug",
		},
	},
	head() {
		return {
			title: `${this.business.title} – ${this.$t("rate")} – ${this.$t("account")} – VoteLog`,
		}
	},
}
</script>

<style lang="sass" scoped>
.rate-actions
	padding: 1rem 0
</style>
