<template>
	<div>
		<h1 v-html="$t(`organisations`)" />
		<OrganisationListFilter class="sticky top-20 lg:top-0 bg-white dark:bg-gray-darkest" />
		<OrganisationList :active="activeTopic" :organisations="organisations" />
	</div>
</template>

<script>
import OrganisationList from "~/components/organisations/OrganisationList";
import OrganisationTopicMenu from "~/components/organisations/OrganisationTopicMenu";
import OrganisationListFilter from "~/components/organisations/OrganisationListFilter";

export default {
	name: "organisations-index",
	components: {
		OrganisationList,
		OrganisationTopicMenu,
		OrganisationListFilter,
	},
	async asyncData({ store }) {
		await store.dispatch("organisations/fetchOrganisations");
	},
	computed: {
		organisations() {
			return this.$store.state.orderByDesc.organisations
				? this.$store.state.organisations.organisations
				: [...this.$store.state.organisations.organisations].reverse();
		},
	},
	data() {
		return {
			panelOptions: ["topics", "alphabetical", "search"],
			activeTopic: -1,
		};
	},
	methods: {
		changeTopic(topic) {
			this.activeTopic = topic;
		},
	},
	head() {
		return {
			title: `${this.$t(`organisations`)} – VoteLog`,
		};
	},
	nuxtI18n: {
		paths: {
			en: "/organisations",
			de: "/organisationen",
			fr: "/organisations",
			it: "/organizzazioni",
		},
	},
};
</script>
