<template>
	<Content :content="page" />
</template>

<script>
import Content from "~/components/Content"

export default {
	name: "mission-wildcard",
	components: {
		Content
	},
	async asyncData({ store, route, $md }) {
		await store.dispatch("content/fetchContentByPath", route.path);
		const content = store.getters["content/getContent"](route.path);
		if (content) {
			return {
				page: $md.render(content)
			}
		}
	},
	head() {
		return {
			title: `TODO HEADER – ${this.$t(`mission`)} – VoteLog`,
		}
	},
	nuxtI18n: {
		paths: {
			en: "/mission/:slug",
			de: "/mission/:slug",
			fr: "/mission/:slug",
			it: "/missione/:slug",
		},
	},
}
</script>

<style lang="sass" scoped></style>
