<template>
	<div>
		<Content :content="page" />
	</div>
</template>

<script>
import Content from "~/components/Content"

export default {
	name: "mission-index",
	components: {
		Content
	},
	async asyncData({ store, route, $md }) {
		await store.dispatch("content/fetchContentByKeys", {
			path: route.path,
			keys: ["mission"],
		})
		const content = store.getters["content/getContent"](route.path);
		if (content) {
			return {
				page: $md.render(content)
			}
		}
	},
	head() {
		return {
			title: `${this.$t(`mission`)} – VoteLog`,
		}
	},
	nuxtI18n: {
		paths: {
			en: "/mission",
			de: "/mission",
			fr: "/mission",
			it: "/missione",
		},
	},
}
</script>

<style lang="sass" scoped></style>
