<template>
	<ButtonToggle>
		<button
			v-for="(mode, i) in colorModes"
			:key="mode.name"
			@click="$colorMode.preference = mode.name"
			:class="$colorMode.value === mode.name ? 'active' : ''"
			class="py-1 px-2"
		>
			<img
				class="h-5 filter dark:invert"
				:class="{ invert: i === 0 }"
				:src="`/icons/${mode.icon}.svg`"
				alt=""
			/>
			<!-- <icon class="" :icon="`fal fa-${mode.icon}`" /> -->
		</button>
	</ButtonToggle>
</template>

<script>
export default {
	name: "color-mode-switcher",
	data() {
		return {
			colorModes: [
				{ name: "light", icon: "sun" },
				{ name: "dark", icon: "moon" },
			],
		};
	},
};
</script>

<style lang="sass" scoped></style>
