<template>
	<div v-if="$i18n.locales.length > 1">
		<nuxt-link
			v-for="locale in $i18n.locales"
			:key="locale.code"
			:to="switchLocalePath(locale.code)"
			class="uppercase p-1 inline-block"
			v-html="locale.code"
		/>
	</div>
	<div v-else >
		<span
			v-for="locale in locales"
			:key="locale"
			v-html="locale"
			class="uppercase p-1 inline-block"
		/>
	</div>
</template>

<script>
export default {
	name: 'language-selector',
	data() {
		return {
			locales: ['de', 'en', 'fr', 'it']
		}
	}
}
</script>

<style lang="scss" scoped>
span {
	cursor: default;
	user-select: none;
	&:first-child {
		color: rgb(0, 57, 222);
	}
}
</style>
