<template>
	<nav class="font-medium text-xl">
		<ol class="leading-loose">
			<li v-for="(item, i) in menu" :key="i">
				<nuxt-link
					class="hover:text-primary dark:hover:text-primaryLight capitalize"
					:to="localePath(item)"
					v-html="$t(item)"
				/>
			</li>
		</ol>
	</nav>
</template>

<script>
export default {
	name: "page-nav",
	data() {
		return {
			menu: ["organisations", "parliamentarian", "mission", "method"],
		};
	},
};
</script>
