<template>
	<div>
		<div class="z-40 sticky top-20 lg:top-12 bg-white dark:bg-gray-darkest">
			<nuxt-link
				:to="
					localePath({
						name: 'parliamentarian-slug',
						params: { slug: singleRanking.id },
					})
				"
				class="block hover:bg-gray-lightest dark:hover:bg-gray-dark lg:pt-4"
			>
				<RankingListItem :name="name" :img="imgUrl">
					<template v-slot:tags>
						<!-- <Tag v-for="element in tags" :key="element" :text="element" /> -->
					</template>
					<Bar :data="singleRanking" :desc="descString" />
				</RankingListItem>
			</nuxt-link>
			<!-- <p class="text-base">
				<a :href="cvProfileUrl" target="_blank" v-html="`Curia Vista Profile`" />
			</p> -->
			<!-- /pretty much the RankingList.vue  -->

			<div
				class="grid grid-cols-3 lg:grid-cols-5 items-center px-0 border-b border-gray-default text-sm font-bold"
			>
				<div class="hidden lg:block py-2 px-4 pl-12 col-span-3 lg:col-span-2">
					<h5>Voting</h5>
				</div>
				<div class="py-2 px-4 lg:border-l border-gray-default dark:bg-gray-dark bg-gray-lightest text-right">
					<h5 class="truncate">Parliament</h5>
				</div>
				<div class="py-2 px-4 border-l border-gray-default text-right">
					<h5 class="truncate">Organisation</h5>
				</div>
				<div class="py-2 px-4 border-l border-gray-default dark:bg-gray-dark bg-gray-lightest text-right">
					<h5 class="truncate" v-html="name" />
				</div>
			</div>
		</div>

		<!-- TODO: @Simon This is now pretty similary to the "PreferencesList" Component... Maybe both of them should be combined? -->
		<!-- <PreferencesList
			:organisationId="'b6f0c4ca-1f22-40ef-baae-f31ec52f558b'"
			:preferencesDetails="preferencesDetails"
		/> -->
		<ol class="preference-list">
			<li v-for="business in preferencesDetails" :key="business.id" class="preferences-business p-4 lg:p-12 mb-4">
				<p
					class="px-4 py-1 bg-gray-dark dark:bg-gray-light text-base font-bold text-white dark:text-black inline-block rounded"
					v-html="formatDate(business.submissionDate)"
				/>
				<span class="flex flex-row">
					<h3 v-html="business.title" class="flex-1" />
					<i class="ml-4 flex-0" v-html="`ID: ${business.id}`" />
				</span>
				<hr class="border-gray-light dark:border-gray-default" />
				<p
					v-html="business.description"
					class="mx-4 my-8 pl-8 border-l-4 border-gray-light dark:border-gray-default"
				/>
				<h4 class="font-bold" v-html="`Bills`" />
				<ol>
					<li v-for="bill in business.bills" :key="bill.id" class="preferences-bill">
						<i v-html="bill.billType" />
						<h4 class="font-normal" v-html="bill.title" />
						<hr class="border-gray-light dark:border-gray-default my-4" />
						<h5 class="font-bold" v-html="`Votes`" />
						<ol>
							<li
								v-for="(vote, i) in bill.votes"
								:key="vote.id"
								class="grid grid-cols-3 lg:grid-cols-5 gap-x-6 p-2 items-center border-b border-gray-light dark:border-gray-default"
							>
								<div class="grid col-span-3 lg:col-span-2 items-center">
									<p class="col-span-3 lg:col-span-2 mb-0" v-html="vote.subject" />
									<p class="text-sm">
										<a v-html="`Curia Vista`" :href="cvURL(vote)" target="_blank" />
									</p>
								</div>
								<p
									class="font-bold bg-gray-default text-base text-white px-2 rounded inline-block mb-2 justify-self-end"
									v-html="`tbd`"
								/>
								<p
									class="font-bold text-base text-white px-2 rounded inline-block mb-2 justify-self-end"
									:class="
										$store.getters['preferences/getPreferenceByVoteId'](organisationId, vote.id) ===
										'yes'
											? 'bg-primary'
											: 'bg-secondary'
									"
									v-html="
										$t($store.getters['preferences/getPreferenceByVoteId'](organisationId, vote.id))
									"
								/>
								<p
									class="font-bold text-base text-white px-2 rounded inline-block mb-2 justify-self-end"
									:class="{
										'bg-primary': parliamentarianDecisions[`${vote.id}`] === 'yes',
										'bg-secondary': parliamentarianDecisions[`${vote.id}`] === 'no',
										'bg-gray-default': parliamentarianDecisions[`${vote.id}`] === 'absent',
									}"
									v-html="$t(parliamentarianDecisions[`${vote.id}`])"
								/>
							</li>
						</ol>
					</li>
				</ol>
			</li>
		</ol>
		<!-- /pretty much the PreferencesList.vue  -->
	</div>
</template>

<script>
import RankingListItem from "~/components/ranking/RankingListItem";
import PreferencesList from "~/components/preferences/PreferencesList.vue";
import Vote from "~/components/preferences/Vote.vue";

export default {
	name: "organisations-slug-parliamentarian",
	components: {
		RankingListItem,
		PreferencesList,
		Vote,
	},
	props: {
		slug: {
			type: String,
			required: true,
		},
		organisation: {
			type: Object,
			required: true,
		},
		ranking: {
			type: Object,
			required: true,
		},
	},
	async asyncData({ params, store }) {
		const parliamentarianId = parseInt(params.parliamentarian);
		if (!store.state.init) await store.dispatch("init");
		const slug = params.slug;
		await store.dispatch("organisations/fetchOrganisation", slug);
		const organisation = store.getters["organisations/getOrganisationBySlug"](slug);
		const organisationId = organisation.id;
		await store.dispatch("preferences/fetchPreferencesDetails", { organisationId });
		const preferencesDetails = store.getters["preferences/getPreferencesDetails"](organisationId);
		await store.dispatch("fetchParliamentarianDecisions", parliamentarianId);
		const parliamentarianDecisions = store.getters.getParliamentarianDecisions(parliamentarianId);
		return {
			organisationId,
			preferencesDetails,
			parliamentarianId,
			parliamentarianDecisions,
		};
	},
	computed: {
		singleRanking() {
			return this.ranking.ranking.parliamentarians.find(
				(parliamentarian) => parliamentarian.id === this.parliamentarianId
			);
		},
		cvProfileUrl() {
			return `https://www.parlament.ch/${this.$i18n.locale}/biografie/x/${this.singleRanking.id}`;
		},
		name() {
			return `${this.singleRanking.firstName} ${this.singleRanking.lastName}`;
		},
		tags() {
			return [
				this.singleRanking.canton,
				this.$store.getters.getPartyAbbreviation(this.singleRanking.party),
				this.$store.getters.getFactionName(this.singleRanking.faction),
			];
		},
		imgUrl() {
			return this.singleRanking.image
				? `https://www.parlament.ch/sitecollectionimages/profil/portrait-260/${this.singleRanking.image}.jpg`
				: `https://picsum.photos/250`;
		},
	},
	methods: {
		cvURL(vote) {
			return `https://www.parlament.ch/poly/Abstimmung/${this.$store.state.lp}/out/vote_${this.$store.state.lp}_${vote.registration}.pdf`;
		},
		descString(parliamentarian) {
			return this.$store.getters["rankings/getRankingDescParliamentarian"](
				parliamentarian,
				this.organisation,
				this.$i18n.locale
			);
		},
		formatDate(d) {
			let date = new Date(d);
			return date.toLocaleDateString("de-CH");
		},
	},
	nuxtI18n: {
		paths: {
			en: "/organisations/:slug/:parliamentarian",
			de: "/organisationen/:slug/:parliamentarian",
			fr: "/organisations/:slug/:parliamentarian",
			it: "/organizzazioni/:slug/:parliamentarian",
		},
	},
	head() {
		return {
			title: `${this.name} – ${this.organisation.name} – VoteLog`,
		};
	},
};
</script>

<style scoped lang="sass">
ol.preference-list > li
	&:nth-child(2n + 1)
		@apply bg-gray-lightest dark:bg-gray-dark
</style>
